@media screen and (max-width:767px) {
    .page-nav {
        display: none;
    }

    .contact-cont {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}


.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {

    .page-header {
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid #E7E9FC;
        }
}


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-btn-clr);
}

.span-header {
    color: var(--main-text-color);
}

.menu-link-mobile {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    position: relative;

    transition: color var(--transition-time) var(--transition-timing-function);
}

.menu-link-mobile:not(:last-child) {
    margin-bottom: 40px;
}

.menu-link-mobile.active {
    color: var(--pseudoclass-clr);
}

.menu-link-mobile:hover,
.menu-link-mobile:focus {
    color: var(--pseudoclass-clr);
}

.menu-link-mobile:active {
    color: var(--pseudoclass-clr);
}

.contact-info-item-mobile {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 48px;
}

.contact-link-mobile-phone {
    color: var(--logo-btn-clr);
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-link-mobile-email{
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-text-color);
}

/* .mailto-number:not(:last-child) {
    margin-right: 40px;
} */

.contact-link:active {
    color: var(--pseudoclass-clr);
}

.contact-link {
    transition: color var(--transition-time) var(--transition-timing-function);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--pseudoclass-clr);
}


.mobile-menu-open {
border: none;
background-color: transparent;
padding: 0;
line-height: 0;
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    top:0;
    left:0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 51px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu_close-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            padding: 8px;
            line-height: 0;
    
            position: absolute;
            top: 24px;
            right: 24px;
            z-index: 1001;
    }
    
        .page-nav-mobile {
            margin-bottom: 50px;
        }

        .menu-mobile {
            margin-bottom: 100px;
        }

        .menu-mobile-item:not(:last-child) {
            margin-bottom: 40px;
        }

        .social-list-mobile {
                display: flex;
                justify-content: space-around;
                column-gap: calc((100% - 56px) / 4);
        }   
        
                .social-list-link-mobile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #4D5AE5;
        
                    transition: background-color var(--transition-time) var(--transition-timing-function);
                }
        
                .social-list-link:hover,
                .social-list-link:focus {
                    background-color: #404BBF;
                }
        
                */

    /* --------- modal window ------ */

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
.modal {
    padding: 72px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition-timing-function);
}
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;

    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;

    transition: background-color var(--transition-time) var(--transition-timing-function);

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.close-button-click {
    fill: #000000;

    transition: fill var(--transition-time) var(--transition-timing-function);
}

.modal-close-btn:hover .close-button-click,
.modal-close-btn:focus .close-button-click {
    fill: #FFFFFF;
}


/* ------ SECTION 1 ----- */

.product {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .product {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-mob-2x.jpg);
    }
}

.product-offer {
    font-weight: var(--main-header-font-weight);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

.modal-btn {
    padding: 16px 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--logo-btn-clr);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 72px;

    transition: background-color color var(--transition-time) var(--transition-timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--pseudoclass-clr);
}

/* ---- SECTION - 2 ----- */


@media screen and (max-width: 767px) {

    .value-name-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

.value-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.value-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.value-icon-cont {
    display: none;
}


/* ----- SECTION 3 ------- */

.activities {
    display: none;
}

/* ------ SECTION 4 ---- */

.team {
    background-color: #F4F4FD;
}

.team-container {
    padding: 32px 14px;
}

.team-header {
    margin-bottom: 72px;
    font-weight: var(--main-header-font-weight);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.team-item {
    margin: 0 auto;
    max-width: 264px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

.team-text {
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;

    transition: background-color var(--transition-time) var(--transition-timing-function);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}

/* ----- SECTION 5 ------ */

.customers-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}

.customers-link {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color var(--transition-time) var(--transition-timing-function);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}

.customers-list-item {
    max-width: 190px;
    flex-basis: calc((100% - 16px) / 2);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;

    transition: fill var(--transition-time) var(--transition-timing-function);
}

/* ----- FOOTER ----- */

.footer {
background-color: var(--main-text-color);
padding-top: 96px;
padding-bottom: 96px;
}

.footer-logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-btn-clr);
    margin-bottom: 16px;
}

.footer-logo-cont {
    margin-bottom: 72px;

}

.span-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #E7E9FC;
    width: 268px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

.social-media {
    margin-bottom: 72px;
}

.social-icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-icon-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-time) var(--transition-timing-function);
}

.social-icon-list-link:hover,
.social-icon-list-link:focus {
    background-color: #31D0AA;
}

.social-media-text {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.input-wrap {
    display: block;
    margin-bottom: 16px;
}

.footer-form-submit {
    margin-right: 0;
}

.footer-input-field-desc {
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .footer-form-input{
        margin-bottom: 16px;
    }
}

.footer-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.footer-btn-subsc {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--logo-btn-clr);
    border: none;
    border-radius: 4px;

    transition: background-color var(--transition-time) var(--transition-timing-function);
}

.footer-btn-subsc:hover,
.footer-btn-subsc:focus {
    background-color: var(--pseudoclass-clr);
}
